aside {
  background-color: gold;}
  hr { border: 2px black}
  h2{
      margin-top: 10px;
      margin-left: 50px;}
  .pree{
background-color: black;
color: white;}
  
  .jgsg{ 
    margin-left:40px;
  }
  li,h3 {
    margin-left:20px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .black {
    color:black
  }
  .photo1 { max-height: 60}