aside {
  width: 20%;
  padding-left: 10px;
  margin-left: 10px;
  float:right;
  font-style: italic;
  background-color: gold;}
  
  h2{
      margin-top: 10px;
      margin-left: 100px;}
  .pree{
background-color: black;
color: white;}
  
  .jgsg{ 
    margin-left:40px;
  }
  li,h3 {
    margin-left:20px;
  }

  #layout {
    display:grid;
  }
