aside {
  background-color: gold;}
  hr { border: 2px black}
  .head1{
      margin-top: 10px;
      margin-left: 50px;
     font-size:300%;}
  .pree{
background-color: black;
color: white;}
  
  .jgsg{ 
    margin-left:40px;
    font-size: 150%;
  }
  li {
    margin-left:25px;
    font-size: 150%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .black {
    color:black
  }
  .photo1 { max-height: 60}

  .mySlides {display:none;}